<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
      <%- include('../partials/scripts.ejs') %>

      <link rel="stylesheet" href="/css/home.css" />
      <script src="/js/home.js" defer></script>
      <title>All Rooms</title>
   </head>
   <body style="background-color: white;">
    <%- include('../partials/client_nav.ejs') %> 
      <div style="margin-top: 2rem; padding: 5rem 12rem 2rem 12rem">
          <div class="row" style="margin: 2rem 2rem 2rem 0rem;">
              <div class="col-12" style="overflow-x:auto; "> 
                  <h1><b>Rooms</b></h1>
                  <p style="font-size: large; margin-top: 1rem; margin-bottom: 2rem;">Avail rooms below.</p> 

                  <div class="row">
                     <% rooms.forEach(room => { %>
                        <div class="col-4">
                            <div class="card" >
                              <img src="<%= room.image ? '/imgs/' + room.image : '/imgs/home.jpg' %>" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-title" style="margin-bottom: 1.5rem; font-weight: bold;"><%= room.room_id %> <%= room.room_type %></h4>
                                    <p class="card-title" style="margin-bottom: 1.5rem;">
                                        <span style="background-color: #FFEA6D; padding: 0.4rem; border-radius: 0.5rem; font-weight: bold;  margin-right: 0.5rem;">
                                            <i class="fa-solid fa-peso-sign" style="font-size: 1rem; margin-right: 0.2rem;"></i> 
                                            <%= room.price_per_hour %>.00
                                        </span> 
                                        <span style="background-color: #FFEA6D; padding: 0.4rem; border-radius: 0.5rem; font-weight: bold; ">
                                            <i class="fa-solid fa-person" style="font-size: 1rem; margin-right: 0.2rem;"></i> <%= room.capacity %>
                                        </span>
                                    </p>
    
                                    <p class="card-title" style="margin-bottom: 1.5rem;">
                                        <span style="background-color: #FFEA6D; padding: 0.4rem; border-radius: 0.5rem; font-weight: bold;  margin-right: 0.5rem;">
                                            <i class="fa-solid fa-building" style="font-size: 1rem; margin-right: 0.2rem;"></i> 
                                            <%= room.room_floor %> floor
                                        </span>  
  
                                        <span style="background-color: #FFEA6D; padding: 0.4rem; border-radius: 0.5rem; font-weight: bold;  margin-right: 0.5rem;">
                                            <i class="fa-solid fa-ruler" style="font-size: 1rem; margin-right: 0.5rem;"></i>
                                            <%= room.area_sqm %> sq m
                                        </span>
                                    </p> 
                                    <p class="card-text">
                                        <span style="background-color: #FFEA6D; padding: 0.4rem; border-radius: 0.5rem; font-weight: bold;  margin-right: 0.5rem;">
                                        <i class="fa-solid fa-suitcase" style="font-size: 1rem; margin-right: 0.5rem;"></i>
                                            <%= room.amenities %>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                  </div>
                  
              </div>
          </div>
          
          
      </div>

      <hr>
      

      <div class="footer" style="position: fixed;">
          <span class="copyright-symbol">Casa De Kwarto &copy; 2023. All Rights Reserved.</span>
      </div> 
  </body>
   </body>
</html>