<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <%- include('../partials/scripts.ejs') %>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="/css/home.css" />
   <script src="/js/home.js" defer></script>
   <title>All Rooms</title>
</head>
<body style="background-color: white;">
    <%- include('../partials/client_nav.ejs') %> 
    <div style="margin-top: 2rem; padding: 5rem 12rem 2rem 12rem">
        <div class="row" style="margin: 2rem 2rem 2rem 0rem;">
            <div class="col-12" style="overflow-x:auto; "> 
                <h1><b>Rooms</b></h1>
                <p style="font-size: large; margin-top: 1rem; margin-bottom: 2rem;">Avail rooms below.</p> 

                <div class="row">
                    <% if (rooms && rooms.length > 0) { %>
                        <% rooms.forEach(room => { %>
                            <div class="col-4">
                                <div class="card" >
                                    <img src="<%= room.image ? '/imgs/' + rooms.image : '/imgs/home.jpg' %>" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h4 class="card-title" style="margin-bottom: 1.5rem; font-weight: bold;"><%= room.room_id %> <%= room.room_type %></h4>
                                        <p class="card-title" style="margin-bottom: 1.5rem;">
                                            <span style="background-color: #FFEA6D; padding: 0.4rem; border-radius: 0.5rem; font-weight: bold;  margin-right: 0.5rem;">
                                                <i class="fa-solid fa-peso-sign" style="font-size: 1rem; margin-right: 0.2rem;"></i> 
                                                <%= room.price_per_hour %>.00
                                            </span> 
                                            <span style="background-color: #FFEA6D; padding: 0.4rem; border-radius: 0.5rem; font-weight: bold; ">
                                                <i class="fa-solid fa-person" style="font-size: 1rem; margin-right: 0.2rem;"></i> <%= room.capacity %>
                                            </span>
                                        </p>

                                        <p class="card-title" style="margin-bottom: 1.5rem;">
                                            <span style="background-color: #FFEA6D; padding: 0.4rem; border-radius: 0.5rem; font-weight: bold;  margin-right: 0.5rem;">
                                                <i class="fa-solid fa-building" style="font-size: 1rem; margin-right: 0.2rem;"></i> 
                                                <%= room.room_floor %> floor
                                            </span>  

                                            <span style="background-color: #FFEA6D; padding: 0.4rem; border-radius: 0.5rem; font-weight: bold;  margin-right: 0.5rem;">
                                                <i class="fa-solid fa-ruler" style="font-size: 1rem; margin-right: 0.5rem;"></i>
                                                <%= room.area_sqm %> sq m
                                            </span>
                                        </p> 
                                        <p class="card-text">
                                            <span style="background-color: #FFEA6D; padding: 0.4rem; border-radius: 0.5rem; font-weight: bold;  margin-right: 0.5rem;">
                                                <i class="fa-solid fa-suitcase" style="font-size: 1rem; margin-right: 0.5rem;"></i>
                                                <%= room.amenities %>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p>No rooms available.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>



   
      <footer class="footer-section">
        <div class="container">
           <div class="footer-cta pt-5 pb-5">
              <div class="row">
                 <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                       <i class="fa fa-map-marker"></i>
                       <div class="cta-text">
                          <h4>Find us</h4>
                          <span>Urdaneta City, Pangasinan, Philippines</span>
                       </div>
                    </div>
                 </div>
                 <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                       <i class="fa fa-phone"></i>
                       <div class="cta-text">
                          <h4>Call us</h4>
                          <span>+639 889 221 129</span>
                       </div>
                    </div>
                 </div>
                 <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                       <i class="fa fa-envelope"></i>
                       <div class="cta-text">
                          <h4>Mail us</h4>
                          <span>casadekwarto@gmail.com</span>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="footer-content pt-5 pb-5">
              <div class="row">
                 <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                       <div class="footer-logo">
                          <a href="home1.html"><img src="./imgs/cdk.png" class="img-fluid" alt="logo" height="100" width="100"></a>
                       </div>
                       <div class="footer-text">
                          <p>Casa de Kwarto offers seamless room reservation services, providing a hassle-free and comfortable experience for your accommodation needs.</p>
                       </div>
                    </div>
                 </div>
                 <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                       <div class="footer-widget-heading">
                          <h3>Menu Links</h3>
                       </div>
                       <ul>
                          <li><a href="#" target="_blank">Home</a></li>
                          <li><a href="#" target="_blank">About</a></li>
                          <li><a href="#" target="_blank">Our Room</a></li>
                          <li><a href="#" target="_blank">Contact Us</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="footer-social-icon">
                    <span>Follow us</span>
                    <a href="https://web.facebook.com/?stype=lo&deoia=1&jlou=AfegbPwXdGwhqFAvm-QncywxshjoO2vO7cFEz4N5nMOHb1b6q_Ewg9p21nxXJeHsKtIbe7KCOsmvwV-MkHZB6csYMa3YGSHUldgENkfkqcWe9A&smuh=42707&lh=Ac9ni0qd6--5I_t3EJ0" target="_blank"><i class="fa fa-facebook facebook-bg"></i>Facebook</a>
                    <a href="https://twitter.com/i/flow/login" target="_blank"><i class="fa fa-twitter twitter-bg"></i>Twitter</a>
                    <a href="https://www.linkedin.com/login" target="_blank"><i class="fa fa-linkedin linkedin-bg"></i>LinkedIn</a>
                 </div>
              </div>
           </div>
        </div>
        <div class="footer" >
           <span class="copyright-symbol">Casa De Kwarto &copy; 2023. All Rights Reserved.</span>
        </div>
     </footer> 
  </body>
  
</html>