<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Casa De Kwarto</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/css/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/adminlte.min.css">
    <!-- Add Bootstrap JS library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <style>
      .dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}
    </style>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <%- include('partials/adminheader') %>

    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
          
            <span class="brand-text font-weight-light"> &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;Casa De Kwarto</span>
        </a>

     <!-- Sidebar -->
    <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
       <div class="user-panel mt-3 pb-3 mb-3 d-flex ">
          <div class="info">
            <a href="/profile" class="d-block">
              &nbsp;&nbsp;  &nbsp;&nbsp;Admin
                   
                  
            </a>
          </div>
      </div>

    <%- include('partials/nav') %>

  </div>

 </aside>

 <div class="content-wrapper d-flex justify-content-center align-items-start">
  <div class="container">
    <div class="row justify-content-center align-items-start">
        <div class="col-12">
            <h1>Rooms List</h1>

            <% if (alert) { %>
                <div class="alert alert-info"><%= alert %></div>
            <% } %> <br>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAdd" style="margin-bottom: 2rem;">+ Add Room</button>

            <table id="roomsTbl" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Room ID</th>
                        <th>Room Number</th>
                        <th>Floor</th>
                        <th>Capacity</th>
                        <th>Amenities</th>
                        <th>Price</th>
                        <th>Area sqm</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% result.forEach(room => { %>
                        <tr>
                            <td><%= room.room_id %></td>
                            <td><%= room.room_type %></td>
                            <td><%= room.room_floor%></td>
                            <td><%= room.capacity %></td>
                            <td><%= room.amenities %></td>
                            <td><%= room.price_per_hour %></td>
                            <td><%= room.area_sqm %></td>
                            <td>
                              <img src="/imgs/<%= room.image %>" alt="Room Image" style="max-width: 100px; max-height: 100px;">
                            </td>
                            
                            
                            <td>       
                                <a href="#" class="btn-edit" data-id="<%= room.id %>" 
                                    onclick="populateEditModal('<%= room.room_id %>', '<%= room.room_type %>', '<%= room.room_floor %>', '<%= room.capacity %>', '<%= room.amenities %>', '<%= room.price_per_hour %>', '<%= room.area_sqm %>' ,'<%= room.image %>')"
                                    data-bs-toggle="modal" data-bs-target="#modalEdit">
                                     <button type="button" class="btn btn-success rounded">
                                         <i style="color: white; font-size: 12px;" class="fa fa-edit"></i>
                                     </button>
                                 </a>
                                 
                                <a href="#" onclick="confirmAndRedirect('<%= room.room_id %>');" class="btn btn-danger rounded">
                                  <i style="color: white; font-size: 12px;" class="fa fa-trash"></i>
                              </a>
                              
                          </a>
                        </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>

    


    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
            <h5>Title</h5>
            <p>Sidebar content</p>
        </div>
    </aside>

    <%- include('partials/footer') %>
</div>

<script src="/js/adminlte.min.js" defer></script>

</body>
</html>

<!-- modal for add -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-right modal-dialog-bottom modal-dialog-notify modal-dialog-info" role="document">
      <!-- Content -->
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header bg-info text-white">
              <h4 class="modal-title">Add room</h4>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>

          <!-- Body -->
          <div class="modal-body">
              <form action="/insert-room" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label class="req-label">Room type</label>
                  <input type="text" id="room_type" name="room_type" class="form-control" placeholder="Enter room type" autocomplete="off">
                </div>
                
               
                <div class="form-group">
                  <label class="req-label">Room floor</label>
                  <select name="room_floor" class="form-control">
                    <option>Select floor:</option> 
                      <option value="1st"><b>1st floor</b></option>  
                      <option value="2nd"><b>2nd floor</b></option>  
                      <option value="3rd"><b>3rd floor</b></option>  
                      <option value="4th"><b>4th floor</b></option>  
                      <option value="5th"><b>1st floor</b></option>  
                  </select>
                </div>
                
                <div class="form-group">
                  <label class="req-label">Capacity</label>
                  <input type="number" id="capacity" name="capacity" class="form-control" placeholder="Enter room capacity" autocomplete="off">
                </div>
                
                <div class="form-group">
                  <label class="req-label">Amenities</label>
                  <input type="text" id="amenities" name="amenities" class="form-control" placeholder="Enter room amenities" autocomplete="off">
                  <!-- <select name="amenities[]" multiple>
                    <option>Select amenities:</option>
                    <% result1.forEach(res => { %>
                      <option value="<%= res.name %>"><b><%= res.name %></b></option> 
                    <% }); %>
                     
                  </select> -->

                  <!-- <div id="list1" class="dropdown-check-list" tabindex="100">
                    <span class="anchor">Select amenities:</span>
                    <ul class="items">
                      <% result1.forEach(res => { %>
                        <li><input type="checkbox" value="<%= res.name %>"/>&nbsp;<%= res.name %> </li>
                      <% }); %> 
                    </ul>
                  </div> -->
                  
                </div>
                
                <div class="form-group">
                  <label class="req-label">Price</label>
                  <input type="number" id="price" name="price" class="form-control" placeholder="Enter room price" autocomplete="off">
                </div>
                <div class="form-group">
                  <label class="req-label">Square meter</label>
                  <input type="text" id="area_sqm" name="area_sqm" class="form-control" placeholder="Enter area of the room (square meter)" autocomplete="off">
                </div>
                <div class="form-group">
                  <label class="req-label">Image</label>
                  <input type="file" id="image" name="image" class="form-control" placeholder="Enter room amenities" autocomplete="off" onchange="previewImage()" accept="image/*">
                  <div id="imagePreview" class="mt-2"></div>
                </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                      <button type="submit" class="btn btn-primary">Save</button>
                  </div>
              </form>
          </div>
      </div>
      <!--/.Content-->
  </div>
</div>
<!-- modal for edit -->

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-right modal-dialog-bottom modal-dialog-notify modal-dialog-info" role="document">
        <!-- Content -->
          <div class="modal-content">
            <!-- Header -->
            <div class="modal-header bg-info text-white">
                <h4 class="modal-title">Add room</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
  
            <!-- Body -->
            <div class="modal-body">
                <form action="/update-room" method="post" >
                    <input type="hidden" id="edit_room_id" name="room_id" value="">

                  <div class="form-group">
                    <label class="req-label">Room type</label>
                    <input type="text" id="edit_room_type" name="room_type" class="form-control" placeholder="Enter room type" autocomplete="off">
             
                  </div>
                  <div class="form-group">
                    <label class="req-label">Room Floor</label>
                    <input type="text" id="edit_room_floor" name="room_floor" class="form-control" placeholder="Enter room type" autocomplete="off">
                  </div>
                  
                  <div class="form-group">
                    <label class="req-label">Capacity</label>
                    <input type="number" id="edit_capacity" name="capacity" class="form-control" placeholder="Enter room capacity" autocomplete="off">
                  </div>
                  
                  <div class="form-group">
                    <label class="req-label">Amenities</label>
                    <input type="text" id="edit_amenities" name="amenities" class="form-control" placeholder="Enter room amenities" autocomplete="off">
                  </div>
                  
                  <div class="form-group">
                    <label class="req-label">Price</label>
                    <input type="number" id="edit_price" name="price" class="form-control" placeholder="Enter room price" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label class="req-label">Square meter</label>
                    <input type="text" id="edit_area_sqm" name="areasqm" class="form-control" placeholder="Enter room area of room" autocomplete="off">
                  </div>
                  
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.Content-->
    </div>
  </div>
  

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
  function confirmAndRedirect(roomId) {
      var confirmation = confirm('Are you sure you want to delete this room?');
      
      if (confirmation) {
          window.location.href = "/delete-room/" + roomId;
      }
  }
  function previewImage() {
  const input = document.getElementById('image');
  const preview = document.getElementById('imagePreview');

  if (input.files && input.files[0]) {
    const reader = new FileReader();

    reader.onload = function (e) {
      preview.innerHTML = `<img src="${e.target.result}" alt="Preview" style="max-width: 100%; max-height: 200px;">`;
    };

    reader.readAsDataURL(input.files[0]);
  } else {
    preview.innerHTML = '';
  }
}
  </script>

<script> 
  $(document).ready(function() {
    $('#roomsTbl').DataTable();
  });

  var checkList = document.getElementById('list1');
checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
  if (checkList.classList.contains('visible'))
    checkList.classList.remove('visible');
  else
    checkList.classList.add('visible');
}
    function populateEditModal(roomId, numType, roomFloor, capacity, amenities, price, area_sqm, image) {
        // Set the values in the modal input fields
 
        document.getElementById('edit_room_id').value = roomId;
        document.getElementById('edit_room_type').value = numType;
        document.getElementById('edit_room_floor').value = roomFloor;
        document.getElementById('edit_capacity').value = capacity;
        document.getElementById('edit_amenities').value = amenities;
        document.getElementById('edit_price').value = price;
        document.getElementById('edit_area_sqm').value = area_sqm;
        // You can also set additional data attributes or hidden inputs if needed
        document.getElementById('edit_room_id').value = roomId;
        document.getElementById('edit_image').value = roomId;
    }
</script>
